{%extends 'base.html'%} 

{%block title%}
    Sentiment  
{%endblock%}

{%block content%}
    <!--Hero section-->    
    <section id="sentiment" class="d-flex align-items-center">
        <div class="row" style="margin-top: 20px; margin-left: 20px;">
            <div class="col-12">
                <h2>Visualized Items</h2>
                <br>
                <table class="table table-hover table-dark">     
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for item in items%}       
                        {%include 'includes/items_modals.html'%}      
                        <tr>
                            <td>{{item.id}}</td>        
                            <td>{{item.name}}</td>
                            <td>{{item.company}}</td>
                            <td>
                                <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>     
                                <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-Purchase-{{ item.id }}">Extract Sentiment</button>    
                                <button class="btn btn-outline btn-secondary" data-toggle="modal" data-target="#Modal-Edit-{{ item.id }}">Edit</button>
                                <button class="btn btn-outline btn-danger" data-toggle="modal" data-target="#Modal-Remove-{{ item.id }}">Remove</button>
                            </td>
                        </tr>
                        {%endfor%}       
                    </tbody>
                </table>
                <div class="checkbox mb-3">
                    <h6>Do you want to add a new item?</h6>
                    <a class="btn btn-sm btn-secondary" href="{{ url_for('add_item_page') }}">Add Item</a>
                </div>
            </div>
        </div>
    </section>
    <!--End Hero-->

{%endblock%}

