/*--------------------------------------------------------------
# sentiment Section
--------------------------------------------------------------*/
#sentiment {
    width: 100%;
    background: url("../img/cta-bg.jpg") top center;
    background-size: cover;
    position: relative;
  }
  
  #sentiment:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #sentiment h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
  }
  
  #sentiment h2 {
    color: #eee;
    margin-bottom: 30px;
    font-size: 24px;
  }
  
  #sentiment h6 {
    color: #eee;
  }
  
  
  
  @media (min-width: 1024px) {
    #sentiment {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #sentiment {
      text-align: center;
    }
    #sentiment .container {
      padding-top: 40px;
    }
    #sentiment h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #sentiment h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  